.big1 {
  margin: auto;
  width: 300px;
  background-color: #eeeff1;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
}

.set1 {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.in {
  margin-bottom: 10px;
}

#btn {
  background-color: #9b9b9b;
  margin-bottom: 30px;
  color: white;
}

.b1 {
  text-decoration: none;
  color: #9b9b9b;
  font-size: 12px;
}
